<button href="" type="button" (click)="next()" class="btn btn-primary">Next</button>
<button href="" type="button" (click)="previous()" class="btn btn-primary">Previous</button>



<main>
    <!--<input style="float: center;" type="text" [(ngModel)]="mymodel" (change)="valuechange($event)" />-->
    
    <!--<input name=x size=10 maxlength=10 #myInput onkeyup="this.value=this.value.replace(/^(\d\d)(\d)$/g,'$1/$2').replace(/^(\d\d\/\d\d)(\d+)$/g,'$1/$2').replace(/[^\d\/]/g,'')">-->
    <input type="text" #myInput maxlength="10" (keyup)="onKeydown($event)"/>
    <span *ngIf="iserror" style="color: red;">is not valid input</span>
    <button (click)="findDate()">Find</button>

    <!--<input type="date" name="" #myinput> <button (click)="findDate()">Find</button>-->
    <h1>{{ time }}</h1>
    <div class="calendar">
      <div class="month-indicator" >
        <time datetime="2019-02">  </time>
      </div>
      <div class="day-of-week">
        <div *ngFor="let item of weekdays">{{ item }} </div>
      </div>
      <div class="date-grid" >
        <button *ngFor="let item of state">
          <time (click)="onclick(item)" [ngClass]="item.isActive ? 'blue': 'white'">{{item.getDate()}}</time>
        </button>
      </div>
    </div>
  </main>